@media only screen and (min-width: 1700px) {
  ul.menu {
    width: 18% !important;
    height: 100% !important;
  }
  
  li.menu a.menu {
    font-size: 20px !important;
    padding: 10px 16px !important;
  }
  
  h5.subtitulo{
    font-size: 20px !important;
  }
  
  li.centrar{
    margin-top: 10% !important;
  }
  h5.nombre{
    font-size: 22px !important;
    margin-top: 2% !important;
  }
  img.perfil{
    width: 180px !important;
    height: 180px !important;
  }

  div.formulario{
    margin-left: 35% !important;
  }

  label{
    font-size: 18px !important;
  }
  div.contenedor-tabla {
    text-align: left !important;
  }
  table.content{
    width: 1000px !important;
  }
  td.content{
    width: 35% !important;
  }
  h1{
    margin-left: 20% !important;
  }
  div.tabla{
    height:230px;
    width: auto !important;
  }
  table.diseno{
    font-size: 18px !important;
    width: 920px !important;
}
table.design{
  font-size: 18px !important;
  margin-left: 17% !important;
}
img.reload{
  margin-left: 61% !important;
}
}

ul.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
  background: linear-gradient(90deg, #003663, #3fadde);
  position: fixed;
  height: 100%;
  overflow: scroll;
}

ul.menu::-webkit-scrollbar {
  -webkit-appearance: none;
}

ul.menu::-webkit-scrollbar:vertical {
  width:5px;
}

ul.menu::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
  display: none;
} 

ul.menu::-webkit-scrollbar:horizontal {
  height: 100%;
}

ul.menu::-webkit-scrollbar-thumb {
  background-color: #818181;
  border-radius: 20px;
  border: none;
}

ul.menu::-webkit-scrollbar-track {
  border-radius: 5px;  
}

h6.menu{
  text-align: left;
  color:rgb(255, 255, 255);
}

img.margen{
  margin-bottom: 1%;
}
/* Estilo para opciones en modo horizontal */
#sidemenu .nav-item {
  display: block !important;
}

/* Estilo para opciones en modo vertical */
#sidemenu .nav-item > h6 {
  display: block !important;
}
h6.margen{
  font-size: 15px;
}
  
  li.menu a.menu {
    font-size: 14px;
    display: block;
    color: white;
    padding: 3px 16px;
    text-decoration: none;
  }
  
  li.menu a.active {
    background-color: transparent;
    color: white;
  }

  li.centrar{
    text-align: center;
    float: center;
  }
  ul.menu li a:hover {
    color: #000000; /* Cambia el color del texto al pasar el puntero */
  }
h1{
    text-align: center;
    margin-left: 10%;
}
h4{
  font-size: 18px;
}
h5{
    text-align: center;
    color:white;
}
  h6.center{
text-align: center;
  }
body{
  background-color: #ffffff;
}

img.derecha{
  float: right;
}
img.centrar{
  float: center;
}
img.margen-izquierdo{
  margin-left: 57%;
  margin-top: 8%;
}
label{
  font-size: 14px;
    float: left;
    padding: 10px;
  }

  select{
    margin-left: 1px;
    width: 190px;
  }
button {
    background-color: #005395; 
    border: none;
    color: white;
    padding: 3px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    float: right;
    margin-right: 100px; 
  }

  button {background-color: #005395;} 
  button:hover {background: #004b88; box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);}

div.formulario{
margin-left: 25%;
}

input.margen{
    margin-left: 10px;
  }
  input.name{
    margin-left: 10px;
    font-size: 14px;
    width: 345px;
  }
  input.UC{
    width: 345px;
    
  }
  table.diseno{
    text-align: center;
}
table.design{
    text-align: center;
    margin-left: 24.5%;
    border: none;
}
td.diseño, th.diseño {
    border: black 1px solid;
  }
  tr.encabezado{
    background-color: #f2f2f2;
    
  }
  div.tabla{
    overflow: scroll;
    height:230px;
    width:750px;
    margin-left: 40px;
  }
  div.tabla::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  
  div.tabla::-webkit-scrollbar:vertical {
    width:5px;
  }
  
  div.tabla::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
  } 
  
  div.tabla::-webkit-scrollbar:horizontal {
    height: 100%;
  }
  
  div.tabla::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: none;
  }
  
  div.tabla::-webkit-scrollbar-track {
    border-radius: 5px;  
  }
  
  div.resumen{
    text-align: center;
    
  }
  input{
    font-size: 14px;
  }
  table.unidad{
    text-align: right;
  }
  td.cc{
    text-align: left;
  }
  button.mensaje{
    background-color: transparent;
    border: 0px solid;
    background-color: #005395; 
    border: none;
    color: white;
    text-align: left;
    font-size: 16px;
    border-radius: 15px;
  }

  img.icon{
    height: 24px;
    width: 24px;
  }
  img.reload{
    margin-left: 76%;
    transition: all 0.3s;
    margin-top: 10px;
  }
  img.reload:hover{
    transform: scale(1.4);
  }
  th.corner-cell {
    position: relative;
    background-color: white;
    border-bottom: 0;
    border-style: none;
}
input.date{
  background-color: transparent;
  border: none;
  width: 80px;
  color: #000000;
}
input.fecha{
  width: 130px;
}
img.perfil{
  border-radius: 50%;
  border: 3px solid #ffffff;
}
p{
  font-size: 13px;
  font-weight: bold;
  margin-left: 37%;
}
p.num{
  font-size: 13px;
  font-weight: bold;
  margin-left: 45%;
}
h5.nombre{
  font-size: 18px;
  margin-top: 10px;
}
table.content{
  width: 80%;
}
td.content{
  width: 35%;
}
h5.subtitulo{
  font-size: 16px;
  margin-top: 10px;
}