<body>
    <div>
    <ul class="menu" *ngIf="fotoSubida"><br><br>
        <li class="centrar"><img class="perfil" [src]="fotoSubida" onerror="this.src='assets\\Design\\usuario-3.png'" alt="" width="128" height="128"></li>
        <li><h5 class="nombre">
            <div *ngIf="colaboradorSeleccionado">
                {{ colaboradorSeleccionado.nombre }}
              </div>           
            </h5></li>
        <li><h5 class="subtitulo">{{colaboradorSeleccionado.departamento}}<br>{{colaboradorSeleccionado.descriP_CENTRO_COSTO}}</h5></li>
<div *ngIf="!colaboradorSeleccionado">
                <p>Colaborador no encontrado.</p>
              </div><br>
              <li class="menu" *ngIf="!depto">
                <h6><a class="nav-link active menu" aria-current="page" [routerLink]="['/home', colaboradorSeleccionado.nO_EMPLE]" *ngIf="!esAdmin"> <img class="icon" src="assets\Design\work-from-home.png" >&nbsp;Página Principal</a></h6>
            </li>
            <li class="menu"  *ngIf="!depto">
                <h6><a class="nav-link active menu" aria-current="page" [routerLink]="['/home-admin', colaboradorSeleccionado.nO_EMPLE]" *ngIf="esAdmin"><img class="icon" src="assets\Design\work-from-home.png">&nbsp;Página Principal</a></h6>
            </li>
            <li class="menu">
                <h6><a class="nav-link active menu" aria-current="page" [routerLink]="['/home-ddhh', colaboradorSeleccionado.nO_EMPLE]" *ngIf="depto"> <img class="icon" src="assets\Design\work-from-home.png" >&nbsp;Página Principal</a></h6>
            </li>
            <li class="menu">
                <h6><a class="nav-link active menu" aria-current="page" [routerLink]="['/comprobante-pago', colaboradorSeleccionado.nO_EMPLE]"> <img  class="icon" src="assets\Design\comprobacion.png">&nbsp;Comprobante de Pago</a></h6>
            </li>
            <li class="menu nav-item my-1 disabled">
                <a href="#consultas" data-bs-toggle="collapse" class="nav-link">
                  <h6 class="menu"><a class="nav-link active menu" aria-current="page"> <img class="icon" src="assets\Design\buscar.png">&nbsp;Consultas &nbsp;<img height="15px" width="15px" class="margen" src="assets\Design\flecha-hacia-abajo.png"></a></h6>
                </a>
                  <ul class="nav collapse ms-4" id="consultas" data-bs-parent="#menu">
                    <li class="menu nav-item">
                      <h6 class="margen"><a class="nav-link active menu" aria-current="page" [routerLink]="['/consulta-solicitudes', colaboradorSeleccionado.nO_EMPLE]"><img height="15px" width="15px" src="assets\Design\barra-de-puntos.png" alt="">&nbsp;Consulta de Solicitudes</a></h6>
                  </li>
                    <li class="menu nav-item">
                      <h6 class="margen"><a class="nav-link active menu" aria-current="page" [routerLink]="['/consulta-vacaciones', colaboradorSeleccionado.nO_EMPLE]"><img height="15px" width="15px" class="margen" src="assets\Design\barra-de-puntos.png" alt="">&nbsp;Consulta de Vacaciones</a></h6>
                  </li>
                  </ul>
              </li>
              <li class="menu nav-item my-1 disabled">
                <a href="#solicitudes" data-bs-toggle="collapse" class="nav-link">
                  <h6 class="menu"><a class="nav-link active menu" aria-current="page"> <img class="icon" src="assets\Design\aprobacion.png">&nbsp;Solicitudes &nbsp;<img height="15px" width="15px" class="margen" src="assets\Design\flecha-hacia-abajo.png"></a></h6>
                </a>
                  <ul class="nav collapse ms-4" id="solicitudes" data-bs-parent="#menu">
                  <li class="menu nav-item">
                    <h6 class="margen"><a class="nav-link active menu" aria-current="page" [routerLink]="['/solicitud-permisos', colaboradorSeleccionado.nO_EMPLE]"><img height="15px" width="15px" class="margen" src="assets\Design\barra-de-puntos.png" alt="">&nbsp;Solicitud de Permisos</a></h6>
                </li>
                <li class="menu nav-item">
                  <h6 class="margen"><a class="nav-link active menu" aria-current="page" [routerLink]="['/solicitud-vacaciones', colaboradorSeleccionado.nO_EMPLE]"><img height="15px" width="15px" class="margen" src="assets\Design\barra-de-puntos.png" alt="">&nbsp;Solicitud de Vacaciones</a></h6>
              </li>
              <li class="menu nav-item" *ngIf="depto">
                <h6 class="margen"><a class="nav-link active menu" aria-current="page" [routerLink]="['/solicitudes', colaboradorSeleccionado.nO_EMPLE]"><img height="15px" width="15px" class="margen" src="assets\Design\barra-de-puntos.png" alt="">&nbsp;Solicitudes Resueltas</a></h6>
            </li>
                  </ul>
              </li>
            <li class="menu" *ngIf="!depto">
                <h6><a class="nav-link active menu" aria-current="page" [routerLink]="['/incapacidades', colaboradorSeleccionado.nO_EMPLE]"> <img class="icon" src="assets\Design\resfriado.png">&nbsp;Incapacidades</a></h6>
            </li>
            <li class="menu nav-item my-1 disabled" *ngIf="depto">
              <a href="#incapacidades" data-bs-toggle="collapse" class="nav-link">
                <h6 class="menu"><a class="nav-link active menu" aria-current="page"> <img class="icon" src="assets\Design\buscar.png">&nbsp;Incapacidades &nbsp;<img height="15px" width="15px" class="margen" src="assets\Design\flecha-hacia-abajo.png"></a></h6>
              </a>
                <ul class="nav collapse ms-4" id="incapacidades" data-bs-parent="#menu">
                  <li class="menu nav-item">
                    <h6 class="margen"><a class="nav-link active menu" aria-current="page" [routerLink]="['/incapacidades', colaboradorSeleccionado.nO_EMPLE]"><img height="15px" width="15px" src="assets\Design\barra-de-puntos.png" alt="">&nbsp;Registrar Incapacidad</a></h6>
                </li>
                  <li class="menu nav-item">
                    <h6 class="margen"><a class="nav-link active menu" aria-current="page" [routerLink]="['/incapacidades-registradas', colaboradorSeleccionado.nO_EMPLE]"><img height="15px" width="15px" class="margen" src="assets\Design\barra-de-puntos.png" alt="">&nbsp;Ver Incapacidades Registradas</a></h6>
                </li>
                </ul>
            </li>
            <li class="menu" *ngIf="!depto">
                <h6><a class="nav-link active menu" aria-current="page" [routerLink]="['/constancias', colaboradorSeleccionado.nO_EMPLE]"> <img class="icon" src="assets\Design\papel.png">&nbsp;Constancias</a></h6>
            </li>
            <li class="menu nav-item my-1 disabled" *ngIf="depto">
              <a href="#constancias" data-bs-toggle="collapse" class="nav-link">
                <h6 class="menu"><a class="nav-link active menu" aria-current="page"> <img class="icon" src="assets\Design\papel.png">&nbsp;Constancias &nbsp;<img height="15px" width="15px" class="margen" src="assets\Design\flecha-hacia-abajo.png"></a></h6>
              </a>
                <ul class="nav collapse ms-4" id="constancias" data-bs-parent="#menu">
                  <li class="menu nav-item">
                    <h6 class="margen"><a class="nav-link active menu" aria-current="page" [routerLink]="['/constancias', colaboradorSeleccionado.nO_EMPLE]"><img height="15px" width="15px" src="assets\Design\barra-de-puntos.png" alt="">&nbsp;Generar Constancia</a></h6>
                </li>
                  <li class="menu nav-item">
                    <h6 class="margen"><a class="nav-link active menu" aria-current="page" [routerLink]="['/constancias-generadas', colaboradorSeleccionado.nO_EMPLE]"><img height="15px" width="15px" class="margen" src="assets\Design\barra-de-puntos.png" alt="">&nbsp;Constancias Generadas</a></h6>
                </li>
                </ul>
            </li>
            <li class="menu" *ngIf="esAdmin && depto">
              <h6><a class="nav-link active menu" aria-current="page" [routerLink]="['/aprobacion-solicitudes', colaboradorSeleccionado.nO_EMPLE]"> <img class="icon" src="assets\Design\cheque.png">&nbsp;Aprobación de Solicitudes</a></h6>
          </li>
          <li class="menu" *ngIf="depto && !esAdmin">
            <h6><a class="nav-link active menu" aria-current="page" [routerLink]="['/aprobacion-solicitudes', colaboradorSeleccionado.nO_EMPLE]"> <img class="icon" src="assets\Design\cheque.png">&nbsp;Aprobación de Solicitudes</a></h6>
        </li>
        <li class="menu" *ngIf="!depto && esAdmin">
          <h6><a class="nav-link active menu" aria-current="page" [routerLink]="['/aprobacion-solicitudes', colaboradorSeleccionado.nO_EMPLE]"> <img class="icon" src="assets\Design\cheque.png">&nbsp;Aprobación de Solicitudes</a></h6>
      </li>
            <li class="menu" *ngIf="!depto">
                <h6><a class="nav-link active menu" aria-current="page" [routerLink]="['/denuncia', colaboradorSeleccionado.nO_EMPLE]"> <img class="icon" src="assets\Design\denunciante.png">&nbsp;Denuncia Codigo de Ética o Acoso</a></h6>
            </li>
            <li class="menu nav-item my-1 disabled" *ngIf="depto">
              <a href="#denuncias" data-bs-toggle="collapse" class="nav-link">
                <h6 class="menu"><a class="nav-link active menu" aria-current="page"> <img class="icon" src="assets\Design\buscar.png">&nbsp;Denuncia Código de Ética o Acoso &nbsp;<img height="15px" width="15px" class="margen" src="assets\Design\flecha-hacia-abajo.png"></a></h6>
              </a>
                <ul class="nav collapse ms-4" id="denuncias" data-bs-parent="#menu">
                  <li class="menu nav-item">
                    <h6 class="margen"><a class="nav-link active menu" aria-current="page" [routerLink]="['/denuncia', colaboradorSeleccionado.nO_EMPLE]"><img height="15px" width="15px" src="assets\Design\barra-de-puntos.png" alt="">&nbsp;Registrar Denuncia</a></h6>
                </li>
                  <li class="menu nav-item">
                    <h6 class="margen"><a class="nav-link active menu" aria-current="page" [routerLink]="['/denuncias-registradas', colaboradorSeleccionado.nO_EMPLE]"><img height="15px" width="15px" class="margen" src="assets\Design\barra-de-puntos.png" alt="">&nbsp;Ver Denuncias Registradas</a></h6>
                </li>
                </ul>
            </li>
            <li class="menu nav-item my-1 disabled" *ngIf="depto">
              <a href="#sugerencias" data-bs-toggle="collapse" class="nav-link">
                <h6 class="menu"><a class="nav-link active menu" aria-current="page"> <img class="icon" src="assets\Design\buzon.png">&nbsp;Buzón de Sugerencias &nbsp;<img height="15px" width="15px" class="margen" src="assets\Design\flecha-hacia-abajo.png"></a></h6>
              </a>
                <ul class="nav collapse ms-4" id="sugerencias" data-bs-parent="#menu">
                  <li class="menu nav-item">
                    <h6 class="margen"><a class="nav-link active menu" aria-current="page" [routerLink]="['/buzon-sugerencia', colaboradorSeleccionado.nO_EMPLE]"><img height="15px" width="15px" src="assets\Design\barra-de-puntos.png" alt="">&nbsp;Registrar Sugerencia</a></h6>
                </li>
                  <li class="menu nav-item">
                    <h6 class="margen"><a class="nav-link active menu" aria-current="page" [routerLink]="['/sugerencias-recibidas', colaboradorSeleccionado.nO_EMPLE]"><img height="15px" width="15px" class="margen" src="assets\Design\barra-de-puntos.png" alt="">&nbsp;Ver Sugerencias Registradas</a></h6>
                </li>
                </ul>
            </li>
            <li class="menu" *ngIf="!depto">
                <h6><a class="nav-link active menu" aria-current="page" [routerLink]="['/buzon-sugerencia', colaboradorSeleccionado.nO_EMPLE]"> <img class="icon" src="assets\Design\buzon.png">&nbsp;Buzón de Sugerencias</a></h6>
            </li>
            <li class="menu" *ngIf="depto">
              <h6><a class="nav-link active menu" aria-current="page" [routerLink]="['/dashboards', colaboradorSeleccionado.nO_EMPLE]"> <img class="icon" src="assets\Design\panel.png">&nbsp;Dashboard Analítica</a></h6>
          </li>
      </ul>
    </div>
<br>
    <div class="formulario">
        
        <h1 style="font-family: 'Merriweather', serif;">Denuncias Registradas</h1>
        <br>

        <input type="text" class="form-control buscar" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Filtrar por Ubicación" name="filter" [(ngModel)]="filter">
        <br>

        <div class="table table-hover tabla">
            <table *ngIf="listDenuncias.length > 0" class="diseno" style="font-family: 'Merriweather', serif; font-size: 14px;">
                <tr class="encabezado">
                  <th class="">Tipo de Denuncia</th>             
                  <th style="width: 150px" class="">Concepto</th>
                  <th class="">Centro de Costo</th>
                  <th class="">Ubicación</th>             
                  <th style="width: 110px" class=""> <div class="dropdown">
                    <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Fecha de lo Ocurrido
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item"(click)="obtenerDenunciasAsc()">Fecha Ascendente</a></li>
                      <li><a class="dropdown-item" (click)="obtenerDenunciasDesc()">Fecha Descendente</a></li>
                    </ul>
                  </div></th>
                  <th style="width: 140px" class="">Evidencia</th>
                </tr>
                <tbody class="table-group-divider">
                <tr *ngFor="let denunciaSeleccionado of listDenuncias | denuncias:filter">
                  <td class="">{{denunciaSeleccionado.tipO_DENUNCIA}}</td>
                  <td class="">{{denunciaSeleccionado.concepto}}</td>
                  <td class="">{{denunciaSeleccionado.centrO_COSTO}}</td>
                  <td class="">{{denunciaSeleccionado.ubicacion}}</td>
                  <td class="diseño"><input type="text" class="date" name="" id="" value="{{ denunciaSeleccionado.fechA_OCURRIDO }}" readonly></td>
                  <td class="diseño">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="derecha" type="button" (click)="obtenerDenunciaPorColaborador(denunciaSeleccionado.denunciA_ID)" data-bs-toggle="modal" data-bs-target="#miModal" aria-expanded="false">
                    <img class="logo" src="https://i.postimg.cc/rsqkdvdq/contrato.png" height="30px" width="30px">
                  </button></td> 
                </tr>
                  </tbody>
              </table>    
              <div *ngIf="listDenuncias.length == 0" class="center">
                <h6>No hay denuncias Registradas</h6>
              </div>        
    </div>
    </div>

    <div class="modal fade" id="miModal" data-bs-backdrop="static"  tabindex="-1" aria-hidden="true" aria-labelledby="modalTitle">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Documento de Evidencia</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" ></button>
                  </div>
                  <div class="modal-body">
                    <ng-container *ngIf="documentoSubido">
                      <img [src]="documentoSubido" width="100%" height="100%">
                    </ng-container>          
                </div>
            </div>
        </div>
    </div> 

</body>

