<body>
    <div>
        <ul class="menu" *ngIf="documentoSubido"><br><br>
            <li class="centrar"><img class="perfil" [src]="documentoSubido" onerror="this.src='assets\\Design\\usuario-3.png'" alt="" width="128" height="128"></li>
            <li><h5 class="nombre">
                <div *ngIf="colaboradorSeleccionado">
                    {{ colaboradorSeleccionado.nombre }}
                  </div>           
                </h5></li>
            <li><h5 class="subtitulo">{{colaboradorSeleccionado.departamento}}<br>{{colaboradorSeleccionado.descriP_CENTRO_COSTO}}</h5></li>
            <div *ngIf="!colaboradorSeleccionado">
            <p>Colaborador no encontrado.</p>
            </div>
            <br>
    
            <li class="menu" *ngIf="!depto">
              <h6><a class="nav-link active menu" aria-current="page" [routerLink]="['/home', colaboradorSeleccionado.nO_EMPLE]" *ngIf="!esAdmin"> <img class="icon" src="assets\Design\work-from-home.png" >&nbsp;Página Principal</a></h6>
          </li>
          <li class="menu"  *ngIf="!depto">
              <h6><a class="nav-link active menu" aria-current="page" [routerLink]="['/home-admin', colaboradorSeleccionado.nO_EMPLE]" *ngIf="esAdmin"><img class="icon" src="assets\Design\work-from-home.png">&nbsp;Página Principal</a></h6>
          </li>
          <li class="menu">
              <h6><a class="nav-link active menu" aria-current="page" [routerLink]="['/home-ddhh', colaboradorSeleccionado.nO_EMPLE]" *ngIf="depto"> <img class="icon" src="assets\Design\work-from-home.png" >&nbsp;Página Principal</a></h6>
          </li>
          <li class="menu">
              <h6><a class="nav-link active menu" aria-current="page" [routerLink]="['/comprobante-pago', colaboradorSeleccionado.nO_EMPLE]"> <img  class="icon" src="assets\Design\comprobacion.png">&nbsp;Comprobante de Pago</a></h6>
          </li>
          <li class="menu nav-item my-1 disabled">
              <a href="#consultas" data-bs-toggle="collapse" class="nav-link">
                <h6 class="menu"><a class="nav-link active menu" aria-current="page"> <img class="icon" src="assets\Design\buscar.png">&nbsp;Consultas &nbsp;<img height="15px" width="15px" class="margen" src="assets\Design\flecha-hacia-abajo.png"></a></h6>
              </a>
                <ul class="nav collapse ms-4" id="consultas" data-bs-parent="#menu">
                  <li class="menu nav-item">
                    <h6 class="margen"><a class="nav-link active menu" aria-current="page" [routerLink]="['/consulta-solicitudes', colaboradorSeleccionado.nO_EMPLE]"><img height="15px" width="15px" src="assets\Design\barra-de-puntos.png" alt="">&nbsp;Consulta de Solicitudes</a></h6>
                </li>
                  <li class="menu nav-item">
                    <h6 class="margen"><a class="nav-link active menu" aria-current="page" [routerLink]="['/consulta-vacaciones', colaboradorSeleccionado.nO_EMPLE]"><img height="15px" width="15px" class="margen" src="assets\Design\barra-de-puntos.png" alt="">&nbsp;Consulta de Vacaciones</a></h6>
                </li>
                </ul>
            </li>
            <li class="menu nav-item my-1 disabled">
              <a href="#solicitudes" data-bs-toggle="collapse" class="nav-link">
                <h6 class="menu"><a class="nav-link active menu" aria-current="page"> <img class="icon" src="assets\Design\aprobacion.png">&nbsp;Solicitudes &nbsp;<img height="15px" width="15px" class="margen" src="assets\Design\flecha-hacia-abajo.png"></a></h6>
              </a>
                <ul class="nav collapse ms-4" id="solicitudes" data-bs-parent="#menu">
                <li class="menu nav-item">
                  <h6 class="margen"><a class="nav-link active menu" aria-current="page" [routerLink]="['/solicitud-permisos', colaboradorSeleccionado.nO_EMPLE]"><img height="15px" width="15px" class="margen" src="assets\Design\barra-de-puntos.png" alt="">&nbsp;Solicitud de Permisos</a></h6>
              </li>
              <li class="menu nav-item">
                <h6 class="margen"><a class="nav-link active menu" aria-current="page" [routerLink]="['/solicitud-vacaciones', colaboradorSeleccionado.nO_EMPLE]"><img height="15px" width="15px" class="margen" src="assets\Design\barra-de-puntos.png" alt="">&nbsp;Solicitud de Vacaciones</a></h6>
            </li>
            <li class="menu nav-item" *ngIf="depto">
              <h6 class="margen"><a class="nav-link active menu" aria-current="page" [routerLink]="['/solicitudes', colaboradorSeleccionado.nO_EMPLE]"><img height="15px" width="15px" class="margen" src="assets\Design\barra-de-puntos.png" alt="">&nbsp;Solicitudes Resueltas</a></h6>
          </li>
                </ul>
            </li>
          <li class="menu" *ngIf="!depto">
              <h6><a class="nav-link active menu" aria-current="page" [routerLink]="['/incapacidades', colaboradorSeleccionado.nO_EMPLE]"> <img class="icon" src="assets\Design\resfriado.png">&nbsp;Incapacidades</a></h6>
          </li>
          <li class="menu nav-item my-1 disabled" *ngIf="depto">
            <a href="#incapacidades" data-bs-toggle="collapse" class="nav-link">
              <h6 class="menu"><a class="nav-link active menu" aria-current="page"> <img class="icon" src="assets\Design\buscar.png">&nbsp;Incapacidades &nbsp;<img height="15px" width="15px" class="margen" src="assets\Design\flecha-hacia-abajo.png"></a></h6>
            </a>
              <ul class="nav collapse ms-4" id="incapacidades" data-bs-parent="#menu">
                <li class="menu nav-item">
                  <h6 class="margen"><a class="nav-link active menu" aria-current="page" [routerLink]="['/incapacidades', colaboradorSeleccionado.nO_EMPLE]"><img height="15px" width="15px" src="assets\Design\barra-de-puntos.png" alt="">&nbsp;Registrar Incapacidad</a></h6>
              </li>
                <li class="menu nav-item">
                  <h6 class="margen"><a class="nav-link active menu" aria-current="page" [routerLink]="['/incapacidades-registradas', colaboradorSeleccionado.nO_EMPLE]"><img height="15px" width="15px" class="margen" src="assets\Design\barra-de-puntos.png" alt="">&nbsp;Ver Incapacidades Registradas</a></h6>
              </li>
              </ul>
          </li>
          <li class="menu" *ngIf="!depto">
              <h6><a class="nav-link active menu" aria-current="page" [routerLink]="['/constancias', colaboradorSeleccionado.nO_EMPLE]"> <img class="icon" src="assets\Design\papel.png">&nbsp;Constancias</a></h6>
          </li>
          <li class="menu nav-item my-1 disabled" *ngIf="depto">
            <a href="#constancias" data-bs-toggle="collapse" class="nav-link">
              <h6 class="menu"><a class="nav-link active menu" aria-current="page"> <img class="icon" src="assets\Design\papel.png">&nbsp;Constancias &nbsp;<img height="15px" width="15px" class="margen" src="assets\Design\flecha-hacia-abajo.png"></a></h6>
            </a>
              <ul class="nav collapse ms-4" id="constancias" data-bs-parent="#menu">
                <li class="menu nav-item">
                  <h6 class="margen"><a class="nav-link active menu" aria-current="page" [routerLink]="['/constancias', colaboradorSeleccionado.nO_EMPLE]"><img height="15px" width="15px" src="assets\Design\barra-de-puntos.png" alt="">&nbsp;Generar Constancia</a></h6>
              </li>
                <li class="menu nav-item">
                  <h6 class="margen"><a class="nav-link active menu" aria-current="page" [routerLink]="['/constancias-generadas', colaboradorSeleccionado.nO_EMPLE]"><img height="15px" width="15px" class="margen" src="assets\Design\barra-de-puntos.png" alt="">&nbsp;Constancias Generadas</a></h6>
              </li>
              </ul>
          </li>
          <li class="menu" *ngIf="esAdmin && depto">
            <h6><a class="nav-link active menu" aria-current="page" [routerLink]="['/aprobacion-solicitudes', colaboradorSeleccionado.nO_EMPLE]"> <img class="icon" src="assets\Design\cheque.png">&nbsp;Aprobación de Solicitudes</a></h6>
        </li>
        <li class="menu" *ngIf="depto && !esAdmin">
          <h6><a class="nav-link active menu" aria-current="page" [routerLink]="['/aprobacion-solicitudes', colaboradorSeleccionado.nO_EMPLE]"> <img class="icon" src="assets\Design\cheque.png">&nbsp;Aprobación de Solicitudes</a></h6>
      </li>
      <li class="menu" *ngIf="!depto && esAdmin">
        <h6><a class="nav-link active menu" aria-current="page" [routerLink]="['/aprobacion-solicitudes', colaboradorSeleccionado.nO_EMPLE]"> <img class="icon" src="assets\Design\cheque.png">&nbsp;Aprobación de Solicitudes</a></h6>
    </li>
          <li class="menu" *ngIf="!depto">
              <h6><a class="nav-link active menu" aria-current="page" [routerLink]="['/denuncia', colaboradorSeleccionado.nO_EMPLE]"> <img class="icon" src="assets\Design\denunciante.png">&nbsp;Denuncia Codigo de Ética o Acoso</a></h6>
          </li>
          <li class="menu nav-item my-1 disabled" *ngIf="depto">
            <a href="#denuncias" data-bs-toggle="collapse" class="nav-link">
              <h6 class="menu"><a class="nav-link active menu" aria-current="page"> <img class="icon" src="assets\Design\buscar.png">&nbsp;Denuncia Código de Ética o Acoso &nbsp;<img height="15px" width="15px" class="margen" src="assets\Design\flecha-hacia-abajo.png"></a></h6>
            </a>
              <ul class="nav collapse ms-4" id="denuncias" data-bs-parent="#menu">
                <li class="menu nav-item">
                  <h6 class="margen"><a class="nav-link active menu" aria-current="page" [routerLink]="['/denuncia', colaboradorSeleccionado.nO_EMPLE]"><img height="15px" width="15px" src="assets\Design\barra-de-puntos.png" alt="">&nbsp;Registrar Denuncia</a></h6>
              </li>
                <li class="menu nav-item">
                  <h6 class="margen"><a class="nav-link active menu" aria-current="page" [routerLink]="['/denuncias-registradas', colaboradorSeleccionado.nO_EMPLE]"><img height="15px" width="15px" class="margen" src="assets\Design\barra-de-puntos.png" alt="">&nbsp;Ver Denuncias Registradas</a></h6>
              </li>
              </ul>
          </li>
          <li class="menu nav-item my-1 disabled" *ngIf="depto">
            <a href="#sugerencias" data-bs-toggle="collapse" class="nav-link">
              <h6 class="menu"><a class="nav-link active menu" aria-current="page"> <img class="icon" src="assets\Design\buzon.png">&nbsp;Buzón de Sugerencias &nbsp;<img height="15px" width="15px" class="margen" src="assets\Design\flecha-hacia-abajo.png"></a></h6>
            </a>
              <ul class="nav collapse ms-4" id="sugerencias" data-bs-parent="#menu">
                <li class="menu nav-item">
                  <h6 class="margen"><a class="nav-link active menu" aria-current="page" [routerLink]="['/buzon-sugerencia', colaboradorSeleccionado.nO_EMPLE]"><img height="15px" width="15px" src="assets\Design\barra-de-puntos.png" alt="">&nbsp;Registrar Sugerencia</a></h6>
              </li>
                <li class="menu nav-item">
                  <h6 class="margen"><a class="nav-link active menu" aria-current="page" [routerLink]="['/sugerencias-recibidas', colaboradorSeleccionado.nO_EMPLE]"><img height="15px" width="15px" class="margen" src="assets\Design\barra-de-puntos.png" alt="">&nbsp;Ver Sugerencias Registradas</a></h6>
              </li>
              </ul>
          </li>
          <li class="menu" *ngIf="!depto">
              <h6><a class="nav-link active menu" aria-current="page" [routerLink]="['/buzon-sugerencia', colaboradorSeleccionado.nO_EMPLE]"> <img class="icon" src="assets\Design\buzon.png">&nbsp;Buzón de Sugerencias</a></h6>
          </li>
          <li class="menu" *ngIf="depto">
            <h6><a class="nav-link active menu" aria-current="page" [routerLink]="['/dashboards', colaboradorSeleccionado.nO_EMPLE]"> <img class="icon" src="assets\Design\panel.png">&nbsp;Dashboard Analítica</a></h6>
        </li>
          </ul>
    </div>
<br>
    <div class="formulario" >
        <h1 style="font-family: 'Merriweather', serif;">Aprobación de Solicitudes</h1>
        <br>

        <div class="filtro-container" *ngIf="depto">
        <h6 style="font-family: 'Merriweather', serif; font-size: 16px; font-weight: bold;">Departamento:</h6>
        <select class="form-select" [(ngModel)]="filtroDepto">
          <option value="">Todas los Departamentos</option>
          <option *ngFor="let departamento of departamentosUnicos" [value]="departamento">{{ departamento }}</option>
        </select>

        <h6 style="font-family: 'Merriweather', serif; font-size: 16px; font-weight: bold;">Tipo de Solicitud:</h6>
            <select class="form-select" [(ngModel)]="filtroTipoSolicitud">
              <option value="">Todas las Solicitudes</option>
              <option value="1">Vacaciones</option>
              <option value="2">Permisos</option>
            </select>
          </div>

            <form class="mt-3" [formGroup]="solicitudForm" >
              <div class="table-hover">
            <table *ngIf="listSolicitudes.length > 0" class="diseno" style="font-family: 'Merriweather', serif; font-size: 14px;">
                <tr class="encabezado">
                  <th class="diseño">Código</th> 
                  <th style="width: 130px" class="diseño">Nombre</th>   
                  <th style="width: 130px" class="diseño">Tipo de Solicitud</th> 
                  <th class="diseño">Descripción</th>            
                  <th style="width: 80px" class="diseño">Desde</th>
                  <th style="width: 80px" class="diseño">Hasta</th>                
                  <th class="diseño">Observación</th>
                  <th class="diseño">Acción</th>
                </tr>
                <tbody class="table-group-divider" >
                <tr *ngFor="let solicitud of listSolicitudes | departamento:filtroDepto | tipoSolicitud: filtroTipoSolicitud; let i = index;" >


                  <td class="diseño"><input type="text" class="cod" value="{{ solicitud.codigO_COLABORADOR }}" readonly></td>

                  <td class="diseño"><textarea class="cod" name="" id="" cols="12" rows="2" value="{{ solicitud.nombre }}" disabled></textarea>  </td>  


                  <td class="diseño"><textarea class="cod" name="" id="" cols="13" rows="2" value="{{ solicitud.tipO_SOLICITUD }}" readonly></textarea></td>

                  <td class="diseño"><textarea class="cod" name="" id="" cols="12" rows="2" value="{{ solicitud.descripcion }}" readonly></textarea></td>

                  <td class="diseño"><input type="text" class="date" id="" [value]="solicitud.fechA_INICIO" readonly></td>

                  <td class="diseño"><input type="text" class="date" id="" [value]="solicitud.fechA_FINAL" readonly></td>

                  <td class="diseño"><textarea formControlName="observacion" name="" id="" cols="15" rows="1"></textarea></td>
                  
                  <td class="diseño">
                <button class="borde" [disabled]="solicitudForm.invalid" (click)="actualizarSolicitud(solicitud.consultA_ID, solicitud.codigO_COLABORADOR, solicitud.solicituD_ID,solicitud.tipO_SOLICITUD,solicitud.descripcion,solicitud.fechA_EMISION,solicitud.fechA_INICIO,solicitud.fechA_FINAL, 'Aprobada', solicitud.fechA_CREACION)">
                <img class="icono" src="https://i.postimg.cc/85SzZk1b/comprobar.png" height="20px" width="20px" />
                </button>
        
                <button class="borde" [disabled]="solicitudForm.invalid" (click)="actualizarSolicitud(solicitud.consultA_ID, solicitud.codigO_COLABORADOR, solicitud.solicituD_ID,solicitud.tipO_SOLICITUD,solicitud.descripcion,solicitud.fechA_EMISION,solicitud.fechA_INICIO,solicitud.fechA_FINAL, 'Rechazada', solicitud.fechA_CREACION)">
                <img class="icono" src="https://i.postimg.cc/sgdqQMKK/rechazado.png" height="20px" width="20px" />
                </button>                    
                </td>
                </tr>
                </tbody>
              </table>
              </div>
              <div *ngIf="solicitudForm.invalid" class="error-message">
                Por favor, agregar observación para aprobar o desaprobar.
              </div>
              <div *ngIf="listSolicitudes.length == 0" class="center">
                <h6>No hay Solicitudes Realizadas</h6>
              </div>
            </form>

    </div>

</body>