@media only screen and (min-width: 1700px) {
  ul.menu {
    width: 18% !important;
    height: 100% !important;
  }
  
  li.menu a.menu {
    font-size: 20px !important;
    padding: 10px 16px !important;
  }
  
  h5.subtitulo{
    font-size: 20px !important;
  }
  
  li.centrar{
    margin-top: 10% !important;
  }
  h5.nombre{
    font-size: 22px !important;
    margin-top: 2% !important;
  }
  img.perfil{
    width: 180px !important;
    height: 180px !important;
  }
  div.formulario{
    margin-left: 25% !important;
  }
  iframe{
    width: 1400px !important;
    height: 1050px !important; 
  }
}

ul.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background: linear-gradient(90deg, #003663, #3fadde);
    position: fixed;
    height: 100%;
    overflow: scroll;
  }
  
  ul.menu::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  
  ul.menu::-webkit-scrollbar:vertical {
    width:5px;
  }
  
  ul.menu::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
  } 
  
  ul.menu::-webkit-scrollbar:horizontal {
    height: 100%;
  }
  
  ul.menu::-webkit-scrollbar-thumb {
    background-color: #818181;
    border-radius: 20px;
    border: none;
  }
  
  ul.menu::-webkit-scrollbar-track {
    border-radius: 5px;  
  }
  
  h6.menu{
    text-align: left;
    color:rgb(255, 255, 255);
  }
  
  img.margen{
    margin-bottom: 1%;
  }
  /* Estilo para opciones en modo horizontal */
  #sidemenu .nav-item {
    display: block !important;
  }
  
  /* Estilo para opciones en modo vertical */
  #sidemenu .nav-item > h6 {
    display: block !important;
  }
  h6.margen{
    font-size: 15px;
  }
  
  li.menu a.menu {
    font-size: 14px;
    display: block;
    color: white;
    padding: 3px 16px;
    text-decoration: none;
  }
  
  li.menu a.active {
    background-color: transparent;
    color: white;
  }
  
  li.centrar{
    text-align: center;
    float: center;
  }
  ul.menu li a:hover {
    color: #000000; /* Cambia el color del texto al pasar el puntero */
  }
  h1{
    margin-left: 50%;
  }
  h5{
    text-align: center;
    color:white;
  }
  
  body{
  background-color: #ffffff;
  }
  
  img.derecha{
  float: right;
  }
  img.centrar{
  float: center;
  }
  img.margen-izquierdo{
  margin-left: 57%;
  margin-top: 8%;
  }
  label{
    float: left;
    padding: 10px;
  }
  
  select{
    margin-left: 1px;
    width: 190px;
  }
  button {
    background-color: #005395; 
    border: none;
    color: white;
    padding: 3px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
    float: right;
    margin-right: 150px; 
  }
  
  div.formulario{
  margin-left: 23%;
  }
  
  input.margen{
    margin-left: 10px;
  }
  
  table.diseno{
    float: center;
    text-align: center;
    background-color: white;
    border: #b2b2b2 1px solid;
    margin-left:auto;margin-right:auto;
  }
  td.diseño, th.diseño {
    border: black 1px solid;
  }
  div.tabla{
    overflow: scroll;
    height:190px;
    width:700px;
    margin-left: 110px;
  }
  input.codigo{
    width: 70px;
  }
  input.name{
    font-size: 14px;
    width: 200px;
  }
  input.password{
    font-size: 14px;
    width: 45px;
  }
  select{
    width: 200px;
    font-size: 14px;
  }
  input{
    width: 200px;
    font-size: 14px;
  }
  div.form{
    margin-left: 5%;
  }
  button.mensaje{
    background-color: transparent;
    border: 0px solid;
    margin-right: 3%;
    background-color: #005395; 
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    border-radius: 15px;
  }
  img.icon{
    height: 24px;
    width: 24px;
  }
  img.perfil{
    border-radius: 50%;
    border: 3px solid #ffffff;
  }
  h5.nombre{
    font-size: 18px;
    margin-top: 10px;
  }
  iframe{
    text-align: center;
    width:980px; 
    height: 560px;
  }
  h5.subtitulo{
    font-size: 16px;
    margin-top: 10px;
  }